<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecomerce diseño </title>
    <link rel="stylesheet" href="../styles/style_index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
</head>

<body>


    <div class="header">



        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <img src="../images/logo.jpg" width="125px">
                </div id="desplegable">
                <nav>
                    <ul>
                        <ul id="menu">
                            <li><a href="/menusuper">Menu</a></li>
                            <li><a href="/productssuper">Explorar</a>
                                <li>
                                    <a href="/lista_personas">Administrar Usuarios</a></li>
                                <li><a href="/lista_productos">Administrar Productos</a>
                                    <li><a href="/logout">Cerrar Sesion</a></li>
                                    <li><a href="/contactssuper">Contactos</a></li>
                                    <li><a href="/preguntasssuper">Preguntas Frecuentes</a></li>

                        </ul>


                    </ul>
                </nav>
                <a href="https://mail.google.com/mail/u/0/"><img src="../images/cart.png" width="50px" height="50px"></a>


            </div>
            <div class="row">
                <div class="col-2">
                    <h1>Contactanos!</h1>
                    <p>
                        Telefono: 111111-000<br> Correo: sada@ecomerce.com

                    </p>

                    <a href="menu_super.html" class="btn">volver &#8617;</a>

                </div>
                <div class="col-2">
                    <img src="../images/ecommerce-3021581_1280.jpg">

                </div>
            </div>
        </div>
    </div>



</body>

</html>