<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <script src="https://kit.fontawesome.com/b1959f0f85.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../static/styles/style_index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
</head>

<body>
    <div class="header">


        <!-- menu -->
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <img src="../../static/docs/logo.jpg" width="125px">
                </div id="desplegable">
                <nav>
                    <ul>
                        <ul id="menu">
                            <li><a href="/menusuper">Menu</a></li>
                            <li><a href="/productssuper">Explorar</a>
                                <li>
                                    <a href="/lista_personas">Administrar Usuarios</a></li>
                                <li><a href="/lista_productos">Administrar Productos</a>
                                    <li><a href="/logout">Cerrar Sesion</a></li>
                                    <li><a href="/contactssuper">Contactos</a></li>
                                    <li><a href="/preguntasssuper">Preguntas Frecuentes</a></li>

                        </ul>


                    </ul>
                </nav>
                <a href="https://mail.google.com/mail/u/0/"><img src="../../docs/cart.png" width="50px" height="50px"></a>


            </div>

        </div>
        <!-- fin menu  -->

        <!-- boton -->
        <div class="buscar">
            <input type="text" placeholder="Buscar">
            <div class="boton">
                <i class="fas fa-search"></i>
            </div>
        </div>
        <!-- inicio categoria -->
        <div class="categorias">
            <div class="small-container">
                <div class="row">
                    <div class="col-3"> <img src="../../static/docs/categoria1.jpg">
                    </div>
                    <div class="col-3"> <img src="../../static/docs/categoria2.jpg">
                    </div>
                    <div class="col-3"> <img src=".../../static/docs/categoria3.jpg"> </div>
                </div>
            </div>
        </div>
        <!-- fin categoria -->

        <!-- inicio productos  -->
        <div class="small-container">
            <h2 class="titulo"> Productos Destacados </h2>
            <div class="row">
                <div class="col-4">
                    <a href="/detalleproductosuper"><img src="../../static/docs/product-1.jpg"></a>
                    <h4>Camisa Roja </h4>
                    <p>$32.000</p>
                </div>
                <div class="col-4">
                    <img src="../../static/docs/product-2.jpg">
                    <h4>Zapatos hrx </h4>
                    <p>$60.000</p>
                </div>
                <div class="col-4">
                    <img src="../../static/docs/product-3.jpg">
                    <h4>sudadera Gris </h4>
                    <p>$45.000</p>
                </div>
                <div class="col-4">
                    <img src="../../static/docs/product-4.jpg">
                    <h4>camisa puma </h4>
                    <p>$32.000</p>
                </div>
                <div class="col-2">
                    <a href="/" class="btn">Comentar &#9728;</a>
                    <a href="/" class="btn">Calificar &#9728;</a>
                    <a href="/" class="btn">Lista de Deseos &#9728;</a>
                </div>
            </div>

            <h2 class="titulo"> Otros Productos</h2>
            <div class="row">
                <div class="col-4">
                    <img src="../../static/docs/product-5.jpg">
                    <h4>Zapatos Gris </h4>
                    <p>$120.000</p>
                </div>
                <div class="col-4">
                    <img src="../../static/docs/product-6.jpg">
                    <h4>Camisa Puma </h4>
                    <p>$50.000</p>
                </div>
                <div class="col-4">
                    <img src="../../static/docs/product-7.jpg">
                    <h4>Juego de medias </h4>
                    <p>$25.000</p>
                </div>
                <div class="col-4">
                    <img src="../../static/docs/product-8.jpg">
                    <h4>Reloj de Pulso </h4>
                    <p>$92.000</p>
                </div>
                <div class="col-4">
                    <img src="../../static/docs/product-9.jpg">
                    <h4>Reloj De Pulso</h4>
                    <p>$32.000</p>
                </div>
                <div class="col-4">
                    <img src="../../static/docs/product-10.jpg">
                    <h4>Zapatos X </h4>
                    <p>$100.000</p>
                </div>
                <div class="col-4">
                    <img src="../../static/docs/product-11.jpg">
                    <h4>Zapatos Deportivos</h4>
                    <p>$85.000</p>
                </div>
                <div class="col-4">
                    <img src="../../static/docs/product-12.jpg">
                    <h4>Sudadera Negra </h4>
                    <p>$45.000</p>
                </div>

                <div class="col-2">
                    <a href="/" class="btn">Comentar &#9728;</a>
                    <a href="/" class="btn">Calificar &#9728;</a>
                    <a href="/" class="btn">Lista de Deseos &#9728;</a>
                </div>
            </div>
        </div>
        <div class="oferta">
            <div class="small-container">
                <div class="row">
                    <div class="col-2">
                        <img src="../../static/docs/exclusive.png" class="oferta-img">
                    </div>
                    <div class="col-2">
                        <p>Exclusivamente con nosotros </p>
                        <h1> Smart Band 4</h1>
                        <small>
                    Pantalla a color y monitoreo de la frecuencia cardiaca, Disfruta de una vista más amplia y colorida en tu muñeca.
                    La nueva pantalla táctil AMOLED a color
                    ofrece más brillo y es un 39,9% más grande
                    Visualiza al instante llamadas, mensajes, notificaciones y la música que escuchas.
                    
                </small>
                        <a href="" class="btn">Comprar Ahora &#8594;</a>

                    </div>
                </div>
            </div>
        </div>

</body>

</html>