    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    .navbar {
        display: flex;
    }
    
    body {
        font-family: 'Anton', sans-serif;
    }
    
    nav {
        flex: 1;
        text-align: right;
    }
    
    nav ul {
        display: inline-block;
        list-style-type: none;
    }
    
    nav ul li {
        display: inline-block;
        margin-right: 3px;
    }
    
    a {
        text-decoration: none;
        color: #555;
    }
    
    p {
        color: #555;
    }
    
    .container {
        max-width: 1300px;
        margin: auto;
        padding-left: 25px;
        padding-right: 25px;
    }
    
    .row {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    
    .col-2 {
        flex-basis: 50%;
        min-width: 300px;
    }
    
    .col-2 img {
        max-width: 100%;
        padding: 50px 0;
    }
    
    .col-2 h1 {
        font: size 50px;
        line-height: 60px;
        margin: 25px 0;
    }
    
    .btn {
        display: inline-block;
        background: #ff523b;
        color: #fff;
        padding: 8px 30px;
        margin: 30px 0;
        border-radius: 30px;
        transition: background 0.8s;
    }
    
    .btn:hover {
        background: #563434;
    }
    
    .header {
        background: radial-gradient(#fff, #46A2FD);
    }
    
    .header .row {
        margin-top: 70px;
    }
    
    #menu li>a {
        background-color: grey;
        color: #000;
        padding: 1px;
        display: block;
        text-decoration: none;
        min-width: 100px;
    }
    
    #menu li>a:hover {
        color: #000;
        background-color: #eaeaea;
    }
    
    #menu>li {
        float: left;
        text-align: center
    }
    
    #menu>li>ul {
        display: none;
    }
    
    #menu>li:hover>ul {
        display: block;
    }
    /* estilos de producto*/
    
    .categorias {
        margin: 70px 0;
    }
    
    .col-3 {
        flex-basis: 30%;
        min-width: 250px;
        margin-bottom: 30px;
    }
    
    .col-3 img {
        width: 100%;
    }
    
    .small-container {
        max-width: 1080px;
        margin: auto;
        padding-left: 25px;
        padding-right: 25px;
    }
    
    .col-4 {
        flex-basis: 25%;
        padding: 10px;
        min-width: 200px;
        margin-bottom: 50px;
        transition: transform 0.5s;
    }
    
    .col-4 img {
        width: 100%;
    }
    
    .titulo {
        text-align: center;
        margin: 0 auto 80 px;
        position: relative;
        line-height: 60px;
        color: rgb(0, 0, 0);
    }
    
    .titulo::after {
        content: '';
        background: #46A2FD;
        width: 80px;
        height: 5px;
        border-radius: 5px;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    
    .col-4:hover {
        transform: translateY(-5px);
    }
    
    .oferta {
        background: radial-gradient(#fff, #46A2FD);
        margin-top: 80px;
        padding: 30px 0;
    }
    
    .col-2 .oferta-img {
        padding: 50px;
    }
    
    small {
        color: #555;
    }
    
    .single-product {
        margin-top: 80px;
    }
    
    .single-product .col-2 {
        padding: 20px;
    }
    
    .single-product .col-2 img {
        padding: 0;
    }
    
    .single-product h4 {
        margin: 20px 0;
        font-size: 22px;
        font-weight: bold;
    }
    
    .single-product select {
        display: block;
        padding: 10px;
        margin-top: 20px;
    }
    
    .single-product input {
        width: 50px;
        height: 40px;
        padding-left: 10px;
        font-size: 20px;
        margin-right: 10px;
        border: 1px solid #ff523b;
    }
    
    input:focus {
        outline: none;
    }
    
    .small-img-row {
        display: flex;
        justify-content: space-between;
    }
    
    .small-img-col {
        flex-basis: 24%;
        cursor: pointer;
    }
    /*boton bucar*/
    
    .buscar {
        position: absolute;
        padding: 5px;
    }
    
    .buscar input {
        width: 0px;
        height: 40px;
        padding: 0 20px;
        font-size: 18px;
        color: #000;
        outline: none;
        border: 1px solid silver;
        border-radius: 30px;
        transition: all 0.6s ease;
    }
    
    .boton {
        position: absolute;
        top: 0;
        right: 0;
        background: #ff523b;
        width: 55px;
        height: 55px;
        line-height: 55px;
        text-align: center;
        color: white;
        font-size: 20px;
        border-radius: 50%;
        cursor: pointer;
    }
    
    .buscar:hover input {
        width: 240px;
    }
    
    .buscar input:focus {
        width: 240px;
    }
    /*fin boton bucar*/
    
    .form-group input {
        width: 800px;
        margin-top: 20px;
        padding: 100px;
        border: none;
        background: #F2F2F2;
        font-size: 16px;
        outline: none;
        border: 1px solid #46A2FD;
    }
    
    p.clasificacion {
        position: relative;
        overflow: hidden;
        display: inline-block;
    }
    
    p.clasificacion input {
        position: absolute;
        top: -100px;
    }
    
    p.clasificacion label {
        font-size: 100px;
        float: right;
        color: #333;
    }
    
    p.clasificacion label:hover,
    p.clasificacion label:hover~label,
    p.clasificacion input:checked~label {
        color: #dd4;
    }

    .alerta{
        width: 100%;
        background-color: #dd4;
        text-align: center;
        border-radius: 10px;
    }