<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro Persona</title>

    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/styles/style_login_admin.css">
</head>

<body style="background: radial-gradient(#fff,#46A2FD );">

    <main>
        <div class="contenedor__todo">
            <!-- Formulario de login y registro-->
            <div class="contenedor__login-register" style="text-align: center; margin-left: -10px; margin-top: 20px;">
                <!--Login-->
                <form action="/registro_admin" method="POST" class="form-group">
                    <img src="../static/docs/logo.jpg " style=" margin-top: -35px; ">
                    <!--Login_Persona-->
                    <form action=" " class="formulario__register ">
                        <h2>Agregar Usuario</h2>
                        <h6>Bienvenido</h6>
                        <div class="form-group">
                            <input type="text " name="nombre" placeholder="Nombre" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <input type="text" name="apellido" placeholder="Apellido" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <input type="email" name="correo" placeholder="Correo electronico" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <input type="password" name="contrasena" placeholder="Contraseña" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <button type="submit " class="btn btn-block btn-dark mybtn ">Registrarse</button>
                            <button id="btn__cancel "><a href="/lista_personas_admin ">Cancelar<a></button>
                        </div>
                    </form>
                </form>
            </div>
        </div>
    </main>



    <script src="../static/js/script.js "></script>

</body>

</html>