<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecomerce diseño </title>
    <script src="https://kit.fontawesome.com/b1959f0f85.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/styles/style_index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
</head>

<body>

    <div class="header">

        <div class="header">



            <div class="container">
                <div class="navbar">
                    <div class="logo">
                        <img src="../static/docs/logo.jpg" width="125px">
                    </div id="desplegable">
                    <nav>
                        <ul>
                            <ul id="menu">
                                <li><a href="/">Inicio</a></li>
                                <li><a action: href="/productosIn">Productos</a></li>
                                <li><a href="/login">Iniciar Sesion</a>
                                    <ul>
                                        <li><a href="/login">Usuario</a></li>
                                        <li><a href="/loginAd">Admin</a></li>
                                        <li><a href="/loginSu">Super Admin</a></li>
                                    </ul>
                                </li>
                                <li><a href="/singnup">Registrate</a></li>

                                <li><a href="/contacts">Contactos</a></li>
                                <li><a href="/preguntas">Preguntas Frecuentes</a></li>

                            </ul>


                        </ul>
                    </nav>
                    <a href="/productosIn"><img src="../static/docs/cart.png" width="50px" height="50px"></a>


                </div>
                <!-- boton -->
                <div class="buscar">
                    <input type="text" placeholder="Buscar">
                    <div class="boton">
                        <i class="fas fa-search"></i>
                    </div>
                </div>
                <div class="row">
                    {% for message in get_flashed_messages() %}
                    <div class="alerta">{{ message }}</div>
                    {% endfor %}
                    <div class="col-2">
                        <h1>Consigue Lo Que Nececitas <br>A Un Click De Distancia</h1>
                        <p>¿Hay algo que quieras consguir? <br>Este es el lugar adecuado para ti y por ti!</p>
                        <a href="/productosIn" class="btn">Explorar &#9728;</a>
                    </div>
                    <div class="col-2">
                        <img src="../static/docs/ecommerce-3021581_1280.jpg">

                    </div>
                </div>
            </div>
        </div>
        



</body>

</html>