<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecomerce diseño </title>
    <link rel="stylesheet" href="../static/styles/style_index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
</head>

<body>


    <div class="header">



        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <img src="../static/docs/logo.jpg" width="125px">
                </div id="desplegable">
                <nav>
                    <ul>
                        <ul id="menu">
                            <li><a href="/">Inicio</a></li>
                            <li><a action: href="/productosIn">Productos</a></li>
                            <li><a href="">Iniciar Sesion</a>
                                <ul>
                                    <li><a href="/login">Usuario</a></li>
                                    <li><a href="/loginAd">Admin</a></li>
                                    <li><a href="/loginSu">Super Admin</a></li>
                                </ul>
                            </li>
                            <li><a href="/singnup">Registrate</a></li>

                            <li><a href="/contacts">Contactos</a></li>
                            <li><a href="/preguntas">Preguntas Frecuentes</a></li>

                        </ul>


                    </ul>
                </nav>
                <a href="/productosIn"><img src="../static/docs/cart.png" width="50px" height="50px"></a>


            </div>
            <div class="row">
                <div class="col-2">
                    <h1>Preguntas frecuentes </h1>
                    <p>¿Cómo puedo saber cuándo y a qué hora llegará mi compra?<br> R/Puedes hacer seguimiento de tu despacho con el número de orden de despacho que encuentras en la boleta de tu compra. Ahí encontrarás toda la información que necesitas para
                        saber cuándo llegarán tus productos ¿Puedo cambiar la fecha o dirección de mi despacho?<br> R/Por su seguridad, una vez realizada la compra no es posible realizar un cambio de dirección. ¿Qué pasa si mi compra no llegó en la fecha
                        que debería?<br> R/Si el producto no ha llegado en la fecha pactada, puedes hacerle seguimiento a través de nuestro telefono 111111 o nuestro correo sada@ecomerce.com ¿Qué hago si no llegaron todos los productos que compré?<br>                        R/Si compras más de un producto, existe la posibilidad de que los recibas en despachos y fechas diferentes. Revisa en la boleta o solicitud de compras las fechas correspondientes o llámanos al Servicio al Cliente

                    </p>
                    <a href="/" class="btn">volver &#8617;</a>
                </div>
                <div class="col-2">
                    <img src="../static/docs/ecommerce-3021581_1280.jpg">

                </div>
            </div>
        </div>
    </div>



</body>

</html>